.text-center{
  text-align: center;
}

.subheading{
  width: 80%;
}

.logo-container{
  margin-top: 5em;
  padding-left: 2em;
}

.subheading-container{
  margin-top: 3em;
}

.logo-container img {
  width: 50%;
  height: auto;
}

.landingpage .ui.basic.button, .ui.basic.buttons .button{
  background: #0B35D9 !important;
  border-radius: 5em;
  padding-left: 5em;
  padding-right: 5em;
  margin: 0 auto;
}

.landingpage .ui.basic.button, .ui.basic.buttons .button h4 {
    color: white !important;
}
