.text-center{
  text-align: center;
}

.subheading{
  width: 80%;
}

.logo-container{
  margin-top: 5em;
  padding-left: 2em;
}

.subheading-container{
  margin-top: 3em;
}

.logo-container img {
  width: 50%;
  height: auto;
}
