.navbar-container{
  padding-top: 1.5em;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-bottom: 1.5em;
}

.navtitle{
  flex: 6;
}

.center{
  text-align: center;
}

.navitem{
  flex: 2;
}