body{
  font-family: 'Roboto', sans-serif;
}

.background{
  background-image: url('./image/background.png');
  height: 100vh;
}

@media(max-width: 400px) {
  .mobile-only{
    width: 100%
  }
}

@media(min-width: 400px) {
  .mobile-only{
    max-width: 400px
  }
}