body, h1, h2, h3, h4, h5{
  font-family: 'Roboto', sans-serif !important;
}

.background{
  background-image: url('./image/background.png');
  height: 100vh;
}

.background1{
  background-image: url('./image/background1.png');
  height: 100vh;
}

.background2{
  background-image: url('./image/background2.png');
  height: 100vh;
}

@media(max-width: 400px) {
  .mobile-only{
    width: 100%
  }
}

@media(min-width: 400px) {
  .mobile-only{
    max-width: 400px
  }
}
